
  <div class="row">
    <div class="col s12 center">
      <h5 class="margin-top">Sign in with your social media account</h5>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <i class="tooltipped btn btn-flat fa fa-facebook-square fa-5x facebook-icon disabled" aria-hidden="true" data-position="bottom" data-delay="100" data-tooltip="this function is coming soon!"></i>
      <i class="tooltipped btn btn-flat fa fa-twitter fa-5x twitter-icon disabled" aria-hidden="true" data-position="bottom" data-delay="100" data-tooltip="this function is coming soon!"></i>
    </div>
  </div>
  <div class="row">
    <div class="col s12 center">
      <h5 class="margin-top">Or with your Email and password</h5>
    </div>
  </div>
  <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12 m6 hoverable">
          <input id="username" type="text" class="validate" ng-model="sc.signinUser.userName">
          <label for="username">Username</label>
        </div>
        <div class="input-field col s12 m6 hoverable">
          <input id="password" type="password" class="validate" ng-model="sc.signinUser.password">
          <label for="password">Password</label>
        </div>
      </div>
      <div class="row center">
        <button ng-click="sc.signin()" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">Submit</button>
      </div>
    </form>
  </div>
